{% extends "navbar.html" %}

{% block content %}
    <h1>TEACHERS</h1>
    {% from "_macros.html" import render_field %}

    <div class="container">
        <div class="row">
            <a href="{{ url_for('teachers.create_maestros') }}" class="btn btn-primary">
                Agregar <i class="icon-plus-sign icon-white"></i></a>
            <table class="table table">
                <thead>
                    <tr>
                        <th>NOMBRE(S)</th>
                        <th>APELLIDOS</th>
                        <th>CORREO</th>
                        <th>TELEFONO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tech in teachers %}
                    <tr>
                        <td>{{tech[1]}}</td>
                        <td>{{tech[2]}} {{tech[3]}}
                        </td>
                        <td>{{tech[4]}}</td>
                        <td>{{tech[5]}}</td>
                        <td><a href="{{url_for('teachers.delete_maestros')}}?id={{tech[0]}}" class="btn btn-danger">
                            Eliminar <i class="icon-trash icon-white"></i></a>
                        <a href="{{url_for('teachers.update_maestros')}}?id={{tech[0]}}" class="btn btn-warning">
                            Modificar <i class="icon-edit icon-white"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}